@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body { 
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Poppins', arial;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
img {width: 100%;}

.nav-container {
    background: #6700EE;

    a{
        color: white;
    }
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;

    .logo {
        color: #00FFC4;
        font-weight: bold;
    }

    ul {
        display: flex;

        a {
            display: block;
            padding: 0 1em;
        }
    }
}
.social-header, .hero-design {
    display: none;
}

.hero {
    background-color: #6E00FF;
    color: white;
    display: grid;
    text-align: center;
    padding: 4em;
}

.meet {
    display: flex;
    margin: 0 auto;
    width: 200px;
    font-weight: bold;
    color: #FF64CB;

    span {
        margin-top: 1em;
        margin-right: .5em;
    }
}

.scroll {
    width: 30px;
    margin-top: 2em;
}

section {
    padding: 4em 2em;
    text-align: center;
}

.featured {
    position: relative;
}
.featured::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #00FFC4;
    top: 0;
    left: 0;
    z-index: -1;
}

.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    color: #6E00FF;
    letter-spacing: .2em;
    font-size: .85em;
}

.featured-title {
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -.4em;
    display: block;
}

.featured-desc {
    color: #252525;
    margin-bottom: 3em;
    font: .9em;
    line-height: 1.8em;
    font-weight: 500;
}

.skills {
    background-color: #FF64CB;
}

.skills-container ul li {
    background-color: white;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1em;

    .icon-container {
        height: 100px;
        display: grid;
        place-content: center;
        margin: 0 auto;

        &.one {
            width: 100px;
        }
        &.two {
            width: 100px;
        }
        &.three {
            width: 100px;
        }
    }

    .skill-title {
        font-weight: bold;
    }
    .featured-desc {
        margin-bottom: 0em;
    }


    .yeteneklerim {
        background: #00FFC4;
    }
    .iletisim {
        background: #6E00FF;
    }
}

@media only screen and (min-width: 800px) {
    .iletisim {
        background: #6E00FF;
    }
    
    .featured {
        text-align: left;
    }
    .featured {
        display: grid;
        grid-template-columns: 40% auto;
    }
    .featured::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #00FFC4;
    top: 0;
    left: 0;
    z-index: -1;
}

    .left {
        display: grid;
        place-content: center;
    }

    .rigt {
        margin-left: 2em;
        margin-top: 1em;
    }

    .skills {
        margin-top: -5em;
        margin-bottom: -7em;
        padding-top: 7em;
    }

    .skills-container ul {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1em;
    }


}

@media only screen and (min-width: 1050px) {

    .hero {
        height: 90vh;
    }

    .nav-container {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;

        header {
            background: #6700EE;
        }
    }
    header {
        padding: 2em 2em 2em 4em;
    }
    .social-header {
        padding: 2em 4em 2em 0;
    }
    section {
        padding: 4em;
    }

    .social-header {
        display: block;

        ul {
            display: flex;
            justify-content: space-between;
            width: 7em;
            float: right;

            img {
                width: 24px;
            }
        }
    }

    .hero {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        padding: 0;

        .content {
            background: #6E00FF;
            padding: 6em 8em 6em 4em;
            text-align: left;

            h1{
                font-size: 3em;
                line-height: 1.2em;
            }
        }
    }
    .meet {
        margin: unset;
    }
    .hero-design{
        display: unset;
        margin-left: -50%;
        margin-top: 15%;
        width: 100%;
    }

}
@media only screen and (min-width: 1250px) {
    header {
        padding: 2em 2em 2em 10em;
    }
    .social-header {
        padding: 2em 10em 2em 0;
    }
    section {
        padding: 10em 10em 4em 10em;
    }
    
    .hero .content {
        padding: 6em 8em 6em 10em;
    }
    .featured::before {
        content: "";
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: #00FFC4;
        top: 80px;
        left: 80px;
        z-index: -1;
    }

    body .yeteneklerim {
        background: #00FFC4;
        text-transform: uppercase;
        margin: 0;
        list-style: none;
    }
    h1 .yeteneklerim {
        text-align: center;
    }
    h3 .yeteneklerim {
        margin: 5px;
    }
    .skill {
        width: 500px;
        margin: 60px auto;
        color: #fff;
        padding: 20px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 11);
        border-radius: 25px;
    }
    .skill li{
        margin: 20px 0;
        padding: 10px;
    }
    .bar {
        background: #353b48;
        display: block;
        height: 20px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    .bar:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 22);
    }
    .bar span {
        height: 20px;
        float: left;
        background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252, 103, 103, 1)100%);
    }
    .html {
        width: 80%;
        animation: html 3s;
    }
    .css {
        width: 45%;
        animation: css 3s;
    }
    .scss {
        width: 85%;
        animation: scss 3s;
    }
    .javascript {
        width: 85%;
        animation: javascript 3s;
    }
    .iletisim {
        background: #6E00FF;
    }
    @keyframes html{ 
        0%{
            width: 0%;
        }
        100%{
            width: 80%;
        }
    }
    @keyframes css {
        0%{
            width: 0%;
        }
        100%{
            width: 45%;
        }
    }
    @keyframes scss{
        0%{
            width: 0%;
        }
        100%{
            width: 85%;
        }
    }
    @keyframes javascript {
        0%{
            width: 0%;
        }
        100%{
            width: 85%;
        }
    }
    
}
@media only screen and (min-width: 1550px) {
    header {
        padding: 2em 2em 2em 20em;
    }
    .social-header {
        padding: 2em 20em 2em 0;
    }
    section {
        padding: 20em 20em 4em 20em;
    }
    
    .hero .content {
        padding: 9em 8em 6em 20em;
    }   
    .featured::before {
        content: "";
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: #00FFC4;
        top: 250px;
        left: 250px;
        z-index: -1;
    }
    .iletisim {
        background: #6E00FF;
    }
}
@media only screen and (min-width: 1920px) {
    header {
        padding: 2em 2em 2em 20em;
    }
    .social-header {
        padding: 2em 20em 2em 0;
    }
    section {
        padding: 20em 20em 4em 20em;
    }
    
    .hero .content {
        padding: 9em 8em 6em 20em;
    }   
    .featured::before {
        content: "";
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: #00FFC4;
        top: 270px;
        left: 250px;
        z-index: -1;
    }
    .iletisim {
        background: #6E00FF;
    }

    
}

.circle {
    animation: circleAnim 1s infinite alternate-reverse;
}

@keyframes circleAnim {
    from {
        transform: translate(262px, 716px);
        z-index: 5;
    }
    to {
        transform: translate(262px, 750px);
    }
}






.header {
    text-align: center;
    margin-top: 4em;
}
.header h1 {
    font-size: 3em;
    color: #6E00FF;
}
.contact-w3{
    margin: 4em auto 0;
    width: 30%;
    -webkit-appearance: none;
    background-color: rgba(7, 6, 11, 0.63);
    padding: 2em;
	border-radius:3px;
}
.contact-w3 input[type="text"], .contact-w3 textarea {
    width: 96%;
    padding: 0.7em;
    background: #fff;
    color: #000;
    border: none;
    outline: none;
    font-size: 0.95em;
    border-top: 3px solid #0c6da2;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
}
.row {
    width: 770px;
    margin: 0.8em 0;
}
.row1 {
    margin-top: 0.8em;
}
.contact-left-w3 {
    float: left;
	width: 45%;
    margin-right: 5%;
}

.contact-w3 textarea {
    resize: none;
    height: 150px;
}
.contact-w3 label {
    font-size: 0.95em !important;
    color: #fff !important;
	margin-bottom: 8px;
	display: block;
	font-weight: 600;
}
.contact-w3 input[type="submit"] {
    font-size: 1em;
    padding: 0.8em;
    display: block;
    margin-top: 1em;
    outline: none;
   background: #0c6da2;
    color: #fff;
    border: none;
    width: 100%;
	cursor: pointer;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
	border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
}
.contact-w3 input[type="submit"]:hover{
	   background: #00FFC4;
	   color:#000;
}
.footer-w3-agile {
    text-align: center;
    padding: 4em 0;
}
.footer-w3-agile p {
    font-size: .9em;
    color: #fff;
    margin: 0px;
	line-height:1.8em
}
.footer-w3-agile p a {
    color: #fff;
}
/**responsive**/
@media(max-width:1440px){
    .iletisim {
        background: #6E00FF;
    }
}
@media(max-width:1366px){
.contact-w3 {
    width: 32%;	
}    .iletisim {
    background: #6E00FF;
}
}
@media(max-width:1280px){
.contact-w3 {
    width: 35%;	
}    .iletisim {
    background: #6E00FF;
}
}
@media(max-width:1080px){
.contact-w3 {
    width: 40%;
}    .iletisim {
    background: #6E00FF;
}
.header h1 {
    font-size: 2.8em;	
}}    .iletisim {
    background: #6E00FF;
}
@media(max-width:991px){
.contact-w3 {
    width: 43%;
}    .iletisim {
    background: #6E00FF;
}
	
}
@media(max-width:800px){
.contact-right-w3 {
    float: left;
    width: 45%;
    margin-right: 7%;
}    .iletisim {
    background: #6E00FF;
}

.contact-w3 input[type="text"], .contact-w3 textarea {
    width: 94%;	
}    .iletisim {
    background: #6E00FF;
}
.contact-w3 {
    width: 50%;
}
}
@media(max-width:768px){
.contact-w3 {
    width: 52%;
}	    .iletisim {
    background: #6E00FF;
}
}
@media(max-width:736px){
.contact-w3 {
    width: 55%;
	margin: 3em auto 0;
}    .iletisim {
    background: #6E00FF;
}
.header {
    margin-top: 3em;
}
.header h1 {
    font-size: 2.5em;
}	
}
@media(max-width:667px){
.contact-w3 {
    width: 57%;
}	    .iletisim {
    background: #6E00FF;
}
}
@media(max-width:600px){
.contact-w3 {
    width: 63%;
}
.footer-w3-agile {
    padding: 2em 0;
}	    .iletisim {
    background: #6E00FF;
}
}
@media(max-width:568px){
.contact-w3 {
    width: 65%;
}	    .iletisim {
    background: #6E00FF;
}
}
@media(max-width:480px){
.header h1 {
    font-size: 2.3em;
}    .iletisim {
    background: #6E00FF;
}
.contact-w3 {
    width: 74%;
}
.contact-left-w3 {
    float: left;
    width: 100%;
    margin-right: 0;
}	

.contact-w3 input[type="text"], .contact-w3 textarea {
    padding: 0.6em;
    font-size: 0.9em;	
}
.contact-w3 textarea {
    resize: none;
    height: 130px;
}
}
@media(max-width:414px){
.header h1 {
    font-size: 1.8em;
}    .iletisim {
    background: #6E00FF;
}
.contact-w3 label {
    font-size: 0.9em !important;
}
.contact-w3 input[type="submit"] {
    font-size: 0.95em;
}}
@media(max-width:384px){
.contact-w3 {
    width: 80%;
    padding: 1em;
	margin: 2em auto 0;
}    .iletisim {
    background: #6E00FF;
}
.header {
    margin-top: 2em;
}
.contact-w3 input[type="submit"] {
    padding: 0.7em;	
}}
@media(max-width:320px){
.header h1 {
    font-size: 1.5em;
}    .iletisim {
    background: #6E00FF;
}
.contact-w3 input[type="submit"] {
    padding: 0.7em;
    font-size: 0.8em;
}
.footer-w3-agile p {
    font-size: .85em;	
}}